name: Build and Push Docker Image

on:
    push:
        tags:
            - "v*.*.*"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Extract version from tag
              id: version
              run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

            - name: Build and push image
              uses: docker/build-push-action@v5
              with:
                  push: true
                  tags: |
                      stefanwaterval/bank2tax:${{ steps.version.outputs.VERSION }}
                      stefanwaterval/bank2tax:latest
